<strong>Olá, {{ deliverymanName }}</strong>
<p>Cancelamento de entrega</p>
<p>
  <strong>Cliente:</strong> {{ recipientName }}, está localizado na rua {{ rua }}, em {{ estado }} cancelou a entrega.
</p>
