<h1> Nova encomenda! </h1>
<p>
  Olá, <strong>{{ deliverymanName }}</strong>, você tem uma nova entrega para realizar em <strong>{{ city }}</strong>.
  O nome do recebedor(a) é <strong>{{ recipientName }}</strong>, e o produto é um(a) <strong>{{ product }}</strong>

</p>
